.card {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
  height: 35rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;

  .postTime {
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 8px;
    border: 1px solid rgb(230, 230, 230);
    width: 35%;

    > p {
      font-size: 0.5rem;
      letter-spacing: 0.9px;
    }
  }

  .companyHeading {
    margin-block: 1rem;
    display: flex;
    gap: 0.5rem;

    .icon {
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      object-fit: contain;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .nameDetails {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-transform: capitalize;

      > h1 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #8b8b8b;
      }
      .post {
        font-size: 0.85rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.851);
        line-height: 1.5;
      }
      .location {
        font-size: 0.7rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.819);
        text-transform: capitalize;
      }
    }
  }
  .approxSalary {
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
  }

  .jobAboutSec {
    position: relative;
    margin-block: 0.5rem;
    max-height: 15rem;
    overflow: hidden;

    > h3 {
      font-size: 1rem;
      font-weight: 400;
    }
    > p {
      font-size: 0.8rem;
      font-weight: 300;
      text-align: justify;
    }
    .showmore {
      position: absolute;
      top: 14rem;
      color: #4943da;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
      z-index: 1;
      text-shadow: 0px 0px rgba(0, 0, 0, 0.902);
      left: 35%;
      font-weight: 400;
      transition: all 0.2s ease;

      &:hover {
        color: #00eca3;
      }
    }
  }
  .jobAboutSec::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.904) 70%
    );
  }

  .minExp {
    margin-block: 1.5rem 1rem;

    > h3 {
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: 1px;
      color: #8b8b8b;
    }
    > p {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
  .applybtn {
    width: 100%;
    margin-block: 0.5rem 1rem;
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 8px 18px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.05);
  }
}
.detailedAbout {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);

  .content {
    padding: 1rem;
    width: 50%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
    overflow: scroll;
    position: relative;

    > h1 {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .aboutCompnayDetailed,
    .aboutRoleDetailed {
      margin-block: 1rem;
      > h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      > p {
        font-size: 0.9rem;
        text-align: justify;
        font-weight: 300;
      }
    }
    .cancelAbout {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      font-weight: 500;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
