.searchArea {
  width: calc(100% - 6rem);
  transition: all 0.1s ease;
  margin-top: 3.7rem;
  padding: 3rem 5rem;
  background-color: #f9f9f9;
  min-height: 92vh;
}

.searchArea.open {
  width: calc(100% - 22rem);
}

.filters {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.jobCards {
  margin-block: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1024px) {
  /* for tablets and below */
  .jobCards {
    grid-template-columns: repeat(2, 1fr); /* switch to 2 columns */
  }
}

@media (max-width: 768px) {
  /* for small tablets and large phones */
  .jobCards {
    grid-template-columns: 1fr; /* switch to 1 column */
  }
}

.noJobs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 2rem;
  padding: 2rem;
  gap: 2rem;

  .icon {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  .desc {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
