.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 6rem;
  background-color: #bbfcea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  transition: all 0.1s ease-in-out;

  .sidebarOpen {
    position: absolute;
    left: -15%;
    top: 16px;
    border: 2px solid white;
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #d9f3eb;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    > span {
      font-size: 0.9rem;
      font-weight: 800;
    }
  }
}

.sidebar.open {
  width: 22rem;

  .sidebarOpen {
    left: -4%;
  }
}

.sidebarOverview {
  /* border: 3px solid blue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-block: 1rem;
  padding-inline: 0.5rem;

  .profilePhoto {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* background-color: rgba(128, 128, 128, 0.858); */
    background-color: rgba(0, 0, 0, 0.79);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 1rem;
    > span {
      color: white;
      font-size: 2rem;
    }
  }

  .line {
    background-color: black;
    width: 100%;
    height: 3px;
    margin-block: 1rem 2rem;
  }

  .moreDetails {
    position: relative;
    top: 20rem;
    transform: rotate(90deg);
    width: 40rem;
    display: flex;
    justify-content: start;
    padding-inline-start: 2rem;
    align-items: center;
    > p {
      transition: all 0.3s ease;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 1px;
    }
    > span {
      transform: rotate(315deg);
      margin-inline-start: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    &:hover {
      color: #00eca3;

      > span {
        transform: rotate(135deg);
      }
    }
  }
}
